#contents{margin-left: 10%;margin-top: 1.5em;width: 80%;}
#contents h3{border-left: 7px solid #CDB28A; padding: 0.1em 0 0.1em 0.5em; margin-top: 1.5em; margin-bottom: 1em;}
#contents a{color: #908066;}

div.logo{text-align: center;}
div.logo_readme img{width: 100%; max-width: 400px;}
div.language{text-align: right;margin-top: 1em;background-color: #F9F4E3;}
div.language a{margin: 10px;color: #1F1F1F;}

div.search.form-group{width: 100%;}
input.search-field.form-control{height: 2em;font-size: 1.5em;}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {background-color: #F9F4E3;}
.bootgrid-table th:hover,
.bootgrid-table th:active {background: #BEA784;}
.pagination>.active>a,.pagination>.active>a:focus, .pagination>.active>a:hover{background-color: #CDB28A;border-color: #BEA784;}
#contents .pagination>li.active>a{color: white;}
div.dropdown{display:none;}

th {background-color: #CDB28A;}
th span.text{color: white;}
div.infos{display:none;}

div.readme{text-align: right;padding: 1em;}
div.calender,div.guidebook{float: left;padding: 1em;}
div.calender a,div.guidebook a,div.readme a{color: white;}

#footer{height: 5em;background-color: #CDB28A;width: 100%;margin-top: 3em;}
#footer .glyphicon{margin-right: 5px;}

/*  Media Queries (mobile browsing)
----------------------------------------------------- */
/* Tablet (portrait) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
}
/* Mobile (portrait) */
@media only screen and (max-width: 767px) {
#contents{margin-left: 0;padding-left: 2%;width: 98%;}
#contents img.search{width: 100%;}
div.col-sm-6{text-align: center;}
div.calender,div.guidebook,div.readme{float:none; padding:0.5em;text-align:inherit;}
div.calender{padding-top:1em}
#footer{height: 8em;}
}
