@charset "UTF-8";
body {
  font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.wrap #header {
  padding: 0.5em;
  background-color: #CDB28A;
  color: white;
  /* Mobile (portrait) */
}
.wrap #header a {
  color: white;
}
.wrap #header .title {
  float: left;
  margin-left: 1em;
}
@media only screen and (max-width: 767px) {
  .wrap #header .title {
    float: none;
    margin-bottom: 1em;
    margin-left: 0;
    font-size: 0.5em;
  }
}
.wrap #header .language {
  text-align: right;
  color: white;
}
.wrap #header .language a {
  margin: 10px;
}
.wrap #header .language a.current {
  font-weight: bold;
}
@media only screen and (max-width: 767px) {
  .wrap #header .language {
    margin-bottom: 0.5em;
    text-align: center;
  }
  .wrap #header .language a {
    margin: 7px;
  }
}
.wrap #contents {
  margin-top: 1.5em;
  margin-bottom: 4em;
}
.wrap #contents h3 {
  border-left: 7px solid #CDB28A;
  padding: 0.1em 0 0.1em 0.5em;
  margin-top: 2.5em;
  margin-bottom: 1em;
}
.wrap #contents a {
  color: #908066;
  word-wrap: break-word;
}
.wrap #contents a.bold {
  font-weight: bold;
  font-size: 2em;
}
.wrap #contents a.underline {
  text-decoration: underline;
  font-weight: bold;
}
.wrap #contents img.honyaku {
  width: 100%;
  margin: 1em 0;
}
.wrap #contents p.bold {
  font-size: 2em;
  margin: 1em 0;
}
.wrap #contents li {
  margin-bottom: 0.5em;
}
.wrap #contents th {
  background-color: #CDB28A;
  color: white;
}
.wrap #contents th.comment {
  width: 40%;
}
.wrap #contents .pagination > li.active > a {
  color: white;
}
.wrap #contents td.keyword,
.wrap #contents th.keyword {
  display: none;
}
.wrap #contents div.search.form-group {
  width: 100%;
}
.wrap #contents input.search-field.form-control {
  height: 2em;
  font-size: 1.5em;
}
.wrap #contents .table-striped > tbody > tr:nth-child(2n+1) > td,
.wrap #contents .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: #F9F4E3;
}
.wrap #contents .bootgrid-table th:hover, .wrap #contents .bootgrid-table th:active {
  background: #BEA784;
}
.wrap #contents .pagination > .active > a {
  background-color: #CDB28A;
  border-color: #BEA784;
}
.wrap #contents .pagination > .active > a:focus, .wrap #contents .pagination > .active > a:hover {
  background-color: #CDB28A;
  border-color: #BEA784;
}
.wrap #footer {
  display: table;
  background-color: #CDB28A;
  width: 100%;
  padding: 1.5em 0;
  margin-top: auto;
}
.wrap #footer .glyphicon {
  margin-right: 5px;
}
.wrap #footer div.calender, .wrap #footer div.guidebook {
  padding: 0.5em 0;
}
.wrap #footer div.calender a, .wrap #footer div.guidebook a, .wrap #footer div.readme a {
  color: white;
}

div.logo {
  text-align: center;
}
div.logo_readme img {
  width: 100%;
  max-width: 400px;
}

div.infos {
  display: none;
}

td {
  white-space: inherit !important;
}

@media print {
  a[href]:after,
abbr[title]:after {
    content: "" !important;
  }
}